body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right,rgb(250, 243, 243),rgb(22, 87, 172));
}
.box{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    border-radius: 15px;
    width: 20%;
    color:white;
}
fieldset{
    border: 3px solid rgb(22, 87, 172);
}
.form-titulo{
    border: 1px solid rgb(22, 87, 172);
    padding: 10px;
    text-align: center;
    background-color: rgb(22, 87, 172);
    border-radius: 8px; 
}
.entrada-box{
    position: relative;
}
.entrada-user{
    background: none;
    border:none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}
.label-entrada{
    position: absolute;
    top:0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}
.entrada-user:focus ~ .label-entrada,
.entrada-user:valid ~ .label-entrada{
    top: -20px;
    font-size: 12px;
    color: dodgerblue;
}

.cadastrar{
    background-image: linear-gradient(45deg,rgb(228, 241, 241),rgb(22, 87, 172));
    width: 100%;
    border:none;
    padding: 15px;
    color:white;
    font-size: 15px;
    border-radius: 10px;
    cursor:pointer;
    top:94%;

}
.cadastrar:hover{
    background-image: linear-gradient(45deg,rgb(228, 241, 241),rgb(22, 87, 172)); 
}

